
        body {
            background-color:#2F4759;
        }

        .headings {
            color: #86B5D8; 
            margin-left: 10px;
        }  

        p, li, form {
            color:aliceblue; 
            margin-left: 10px; 
        }


      .table-of-content {
          color: #86B5D8; 
          position: fixed;
          background-color: #33658A; 
          width: 15%; 
          margin-left: 80%;  
          border: 1px solid aliceblue;
      }
      .image {
          margin-left: 10px; 
          border-radius: 50px 0px 50px 50px;
          box-shadow: 10px 10px 20px rgb(22, 22, 22);
      }

      .personal-letter-paragraphs {
            margin-right: 22%; 
            line-height: 1.5em; 

      }
      .contact-form {
          margin: 10px;
      }
      .footer {
          text-align: center;
          margin-top: 20px;
          color: #86B5D8; 
          margin-left: 10px;
      }


